* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #e6e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 343px;
  margin-top: 88px;
  margin-bottom: 238px;
  margin-inline: 8px;
  border-radius: 24px 24px 100px 24px;
}

.birthday {
  display: flex;
  margin-top: 48px;
  margin-bottom: 32px;
  margin-inline: 24px;
}

input {
  width: 87px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.birthday .day p,
.birthday .month p,
.birthday .year p {
  font-size: 12px;
  font-weight: 700;
  color: #716F6F;
  margin-bottom: 4px;
}

.birthday .day,
.birthday .month {
  padding-right: 16px;
}

.bottom {
  width: 64px;
  height: 64px;
  margin: auto;
  margin-bottom: 32px;
}

.results{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.results h1{
  font-size: 56px;
  font-weight: 800;
  font-style: italic;
}

span{
  color: #854DFF;
}