* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #e6e5e5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  --radius-card: 24px;
  --radius-corner: 100px;
  --purple: #854DFF;

  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  max-width: 343px;
  margin-block: 88px;
  margin-inline: auto;
  padding: 48px 24px;
  border-radius:
    var(--radius-card) var(--radius-card) var(--radius-corner) var(--radius-card);
}

.birthday {
  display: flex;
  gap: 16px;
  margin-bottom: 64px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

p {
  font-size: 12px;
  font-weight: 700;
  color: #ABABAB;
  letter-spacing: 3px;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #111;
  border: 1.5px solid #DBDADA;
  border-radius: 8px;
  outline: none;
  transition: border-color 200ms ease;
}

input:focus {
  border-color: var(--purple);
}

.separator {
  height: 1px;
  background: #E5E5E5;
  /* ✅ Görsel 1: ince yatay çizgi */
}

.action {
  display: flex;
  justify-content: center;
  translate: 0 -32px;
  margin-bottom: calc(-32px + 16px);
}

.circle-mobile {
  width: 64px;
  height: 64px;
  margin-bottom: 32px;
}

.circle-desktop {
  display: none;
}

.circle:hover {
  scale: 1.08;
  opacity: 0.9;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.results h1 {
  font-size: clamp(40px, 8vw, 56px);
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
  color: #111;
}

span {
  color: var(--purple);
}

@media(min-width:1109px) {
  .container {
    --radius-corner: 200px;
    width: 840px;
    max-width: none;
    padding: 56px;
  }

  .birthday {
    width: 100%;
    gap: 32px;
    margin-bottom: 64px;

    display: flex;
    justify-content: flex-start;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: unset;
  }

  /* .field-middle{
    padding-inline: 32px;
  } */

  input {
    /* width: 100%; */
    width: clamp(90px, 8vw, 120px);
    font-size: 32px;
    /* min-width: 160px; */
    padding: 12px 16px;
  }

  .separator {
    transform: translateY(20px);
  }

  .action {
    display: flex;
    justify-content: flex-end;
    translate: 0 -32px;
    margin-bottom: calc(-32px + 16px);
  }

  .circle-mobile {
    display: none;
  }

  .circle-desktop {
    display: block;
    width: 96px;
    height: 96px;
    margin-bottom: 32px;
  }

  .results h1 {
    font-size: clamp(48px, 5vw, 68px);
  }
}